.col-md-1
.col-md-10
  #skills_list
    %ul.nav.nav-pills.nav-justified
      - skills_list.each do |skill|
        %li{:role => 'presentation', id: "li_skill_#{skill}"}
          %a{href: '#', onClick: "skillclick('#{skill}')"} #{skill.first.upcase + skill[1..-1]}
  #demo_skill
    #all_skills
      - skills_list.each do |skill|
        %div{:id => "skill_#{skill}", style: 'display: none;', class: 'skill_show_block'}
          = render "skills/#{skill}"