.col-md-5.large_height
  - if user_signed_in?
    = form_tag '/dropzone_files', method: :post, class: 'dropzone drop_form', id: 'media-dropzone' do
      .fallback
        = file_field_tag 'media', multiple: true
  - else
    = render 'skills/devise/sign_in'
  #image_show
.col-md-7
  #media-contents
    - page = 0 if page.nil?
    - files = files_kaminari(page)

    = paginate files,  :theme => 'twitter-bootstrap-3',
                    :pagination_class => 'pagination-sm',
                    :params => { :controller => '/static_pages', :action => 'paginate'},
                     remote: true

    - files.each do |group|
      .row
        - group.each do |media|
          - if media
            .col-md-4
              .thumbnail{id: "file_#{media.id}"}
                = render 'skills/dropzone/file', media: media, page: page

    = paginate files,  :theme => 'twitter-bootstrap-3',
                    :pagination_class => 'pagination-sm',
                    :params => { :controller => '/static_pages', :action => 'paginate'},
                     remote: true