.col-md-5
  #image_show
.col-md-7
  %ul#nav-dropzone.nav.nav-tabs.nav-justified
    %li.dropzone_nav_add{:role => 'presentation'}
      %a{:href => '#firstPage/slide2', onClick: 'tabsDropzone("add")'} Add
    %li.dropzone_nav_myfiles{:role => 'presentation'}
      %a{:href => '#firstPage/slide2', onClick: 'tabsDropzone("myfiles")'} My files
    %li.dropzone_nav_top{:role => 'presentation'}
      %a{:href => '#firstPage/slide2', onClick: 'tabsDropzone("top")'} TOP
    %li.dropzone_nav_new{:role => 'presentation'}
      %a{:href => '#firstPage/slide2', onClick: 'tabsDropzone("new")'} New

  - page = 0 if page.nil?
  #media-contents
    #media_tabs
      #media_add
        - if user_signed_in?
          = form_tag '/dropzone_files', method: :post, class: 'dropzone drop_form', id: 'media-dropzone' do
            .fallback
              = file_field_tag 'media', multiple: true
        - else
          = render 'users/devise/sign_in'
        #media_download
      #media_myfiles
        - if user_signed_in?
          - files = files_kaminari(page, 'myfiles')
          = render 'dropzone_files/files', page: page, files: files
        - else
          = render 'users/devise/sign_in'
      #media_top
        - files = files_kaminari(page, 'top')
        = render 'dropzone_files/files', page: page, files: files
      #media_new
        - files = files_kaminari(page, 'new')
        = render 'dropzone_files/files', page: page, files: files