.jumbotron.form-2
  Hi,
  = current_user.email
  =# link_to('LogOut', destroy_user_session_path, :remote => true)

  #errors_update
  = form_for(current_user, as: resource_name, url: registration_path(resource_name), html: { method: :put }, remote: true) do |f|
    %p
      .pull-left
        Email
      = f.email_field :email, class: 'email_update', :placeholder => 'Email', type: 'text'

    .form-group.update_avatar.pull-left
      = avatar current_user
      .fileUpload.btn.btn-success
        Browse
        = f.file_field :avatar, class: 'upload'

    %p.clearfix
      = link_to 'Destroy acc', registration_path(resource_name, pages: pages),
                data: { confirm: 'Are you sure?' }, method: :delete, remote: true, class: 'log-destroy'
      = f.submit 'Update', class: ''