.log_in.form-2
  %h1
    %span.log-in Log in
    or
    %span.sign-up{onClick: 'login_or_signup("signup")'} sign up
  .errors_login
  = form_for(User.new, as: resource_name, url: session_path(resource_name), remote: true) do |f|
    %p.float
      %label{:for => 'login'}
        %i.icon-user>
        Email
      = f.email_field :email, class: '', :placeholder => 'Email', type: 'text'
    %p.float
      %label{:for => 'password'}
        %i.icon-lock>
        Password
      = f.password_field :password, autocomplete: 'off', class: 'showpassword', :placeholder => 'Password'
    %p.clearfix
      = link_to 'Log in Facebook', omniauth_authorize_path(resource_name, 'facebook'), class:'log-twitter'
      = f.submit 'Log in', class: ''

.sign_up{style: 'display: none;'}
  .form-2
    %h1
      %span.sign-up sign up
      or
      %span.log-in{onClick: 'login_or_signup("login")'} Log in
    .errors_signup
    = form_for(User.new, as: resource_name, url: registration_path(resource_name), remote: true) do |f|
      %br
      %p
        %label{:for => 'login'}
          %i.icon-user>
          Email
        = f.email_field :email, class: '', :placeholder => 'Email', type: 'text'
      %p
        %label{:for => 'password'}
          %i.icon-lock>
          Password
        = f.password_field :password, autocomplete: 'off', class: 'showpassword', :placeholder => 'Password'
      %p
        %label{:for => 'password'}
          %i.icon-lock>
          Confirmation
        = f.password_field :password_confirmation, autocomplete: 'off', class: 'showpassword', :placeholder => 'Password confirmation'

      %p.clearfix
        = link_to 'Sign up Facebook', omniauth_authorize_path(resource_name, 'facebook'), class:'log-twitter'
        = f.submit 'Sign up', class: ''